
<% include partials/header %>
 <div class="container">
     <header class="jumbotron vertical-center">
         <div class="container">
             <h1>Welcome to CallaCare!</h1>
             <p>We help you connect better!</p>
             <p>
                <a class="btn btn-primary btn-large active" href="/nurses">View all nurses</a>
                <a class="btn btn-primary btn-large active" href="/patients">View all patients</a>
                
             </p>
         </div>
     </header>
 </div>

<% include partials/footer %>



